body {
	background: #999;
	text-align: center;
	font-family: cursive;
}

.container {
	width: 550px;
	margin: 100px auto;
	padding: 20px 55px;
	background: #ddd;
	border: 3px solid #fff;
	border-radius: 10px;
	box-shadow: 5px 10px 15px #333;
}

.description {
	text-align: left;
}

ul li,
ol li {
	margin-bottom: 15px;
}

code {
	background: #eee;
	padding: 2px;
}

#author {
	color: #677;
	font-size: 12px;
}
